<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <style>
        a {
            color: inherit; /* 링크 색상을 부모 요소의 색상으로 상속 */
            text-decoration: none; /* 밑줄 제거 */
        }

        a:hover {
            color: inherit; /* hover 상태에서도 링크 색상을 부모 요소의 색상으로 상속 */
            text-decoration: none; /* hover 상태에서도 밑줄 제거 */
        }
        li a.active {
            background-color: #007bff;
            color: #fff;
        }
        td{
            overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
        }
    </style>
</head>
<body>
<div class="container"  style="max-width: 800px">
    <h2 class="text-center py-5">게시판</h2>
    <div class="d-flex justify-content-end">
        <th:block sec:authorize="isAnonymous()">

        <form name="login" style="width:30%" class="form-control mb-5">
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-primary mb-1" th:onclick="|location.href='@{/login}'|">로그인</button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button"  th:onclick="|location.href='@{/login/register}'|" style="text-decoration: none;" class="btn btn-secondary form-control" >회원가입</button>
            </div>
        </form>

        </th:block>
        <th:block sec:authorize="isAuthenticated()">

            <form th:action="@{/logout}" method="post" style="width:30%" class="form-control mb-5">
                <!-- 인증 받음 -->
                <div th:if="${!loginId.isBlank()}" th:text="|환영합니다 ${loginId}님|"></div>
                <button  class="d-flex justify-content-center form-control" style="background-color: #0dcaf0">로그아웃</button>
            </form>

        </th:block>
    </form>
    </div>
    <table class="table table-hover text-center" style="table-layout: fixed">
        <colgroup>
            <col style="width: 7%">
            <col style="width: 43%">
            <col style="width: 10%">
            <col style="width: 20%">
            <col style="width: 10%">
            <col style="width: 10%">
        </colgroup>

        <thead class="table-dark">
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">날짜</th>
            <th scope="col">조회수</th>
            <th scope="col">추천</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">

            <th:block th:each="allUserText:${allUserTexts}">
                <tr>
                    <td th:text="${allUserText.contentId}">1</td>
                    <td ><a th:href="@{/home/{textId}(textId=${allUserText.contentId})}" th:text="${allUserText.title}">ㅋㅋzzzzzzzzzzzzzz</a></td>
                    <td th:text="${allUserText.username}">dd</td>
                    <td th:text="${allUserText.dateCreated}" style="font-size: 12px">2016.01.01</td>
                    <td th:text="${allUserText.viewCount}" >1</td>
                    <td th:text="${allUserText.likeCount}">3</td>
                </tr>
            </th:block>
<!--            <th:block th:each="allUserText:${allUserTexts}">-->
<!--                <tr th:each="text:${allUserText.texts}">-->
<!--                    <td th:text="${text.contentId}">1</td>-->
<!--                    <td ><a th:href="@{/home/{textId}(textId=${text.contentId})}" th:text="${text.title}">ㅋㅋzzzzzzzzzzzzzz</a></td>-->
<!--                    <td th:text="${allUserText.username}">dd</td>-->
<!--                    <td th:text="${text.dateCreated}" style="font-size: 12px">2016.01.01</td>-->
<!--                    <td th:text="${text.viewCount}" >1</td>-->
<!--                    <td th:text="${text.likeCount}">3</td>-->
<!--                </tr>-->
<!--            </th:block>-->
        </tbody>
    </table>
    <hr/>
    <div class="d-flex">
        <form class="d-flex form-control-sm">
            <select class="form-select form-select-sm w-50" aria-label="Default select example" name="searchType">
                <option th:each="type:${textSearchType}" th:value="${type.getTypeName()}" th:text="${type.getTypeValue()}" th:selected="${searchType==type.getTypeName()}"></option>
            </select>
            <input class="form-control" th:value="${searchValue}" name="searchValue">
            <button class="btn btn-secondary btn-sm " style="white-space:nowrap;" type="submit">검색</button>
        </form>
        <div class="d-flex flex-grow-1 justify-content-end">
            <button class="btn btn-secondary btn-sm" type="button" th:onclick="|location.href='@{/home/add}'|">글쓰기</button>
        </div>
    </div>

    <div>
        <ul class="pagination justify-content-center py-3">
            <li class="page-item">
                <a class="page-link" th:href="@{'/home?page=1'}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" th:if="${(currentPage % 5 == 0) and (currentPage> 5)}" th:href="@{'/home?page=' + ${(currentPage/5)*5 - 9}}">
                    <span aria-hidden="true"> &lsaquo;</span>
                </a>
                <a class="page-link" href="#" aria-label="Next" th:if="${(currentPage % 5 != 0) and (currentPage> 5)}" th:href="@{'/home?page=' + ${(currentPage/5)*5 - 4}}">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
            <th:block th:each="pageNum:${#numbers.sequence(1,allPageButton)}">
                <li class="page-item" th:classappend="${currentPage==pageNum} ? 'active' : ''" th:if="${currentPage%5==0 and ((currentPage/5)*5)-4 <= pageNum and pageNum<=((currentPage/5)*5)}"><a class="page-link" th:href="@{'/home?page='+${pageNum}}" th:text="${pageNum}">3</a></li>
                <li class="page-item" th:classappend="${currentPage==pageNum} ? 'active' : ''" th:if="${currentPage%5!=0 and ((currentPage/5)*5)+1  <= pageNum and pageNum<=((currentPage/5)*5)+5}"><a class="page-link" th:href="@{'/home?page='+${pageNum}}" th:text="${pageNum}">3</a></li>
            </th:block>


            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" th:if="${(currentPage % 5 == 0) and (currentPage< allPageButton - 4)}" th:href="@{'/home?page=' + ${(currentPage/5)*5+1}}">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
                <a class="page-link" href="#" aria-label="Next" th:if="${(currentPage % 5 != 0) and (currentPage< allPageButton - 4)}" th:href="@{'/home?page=' + ${(currentPage/5+1)*5+1}}">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{'/home?page='+${allPageButton}}" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>