<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <style>
        .comment-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .reply {
            margin-left: 25px; /* 대댓글은 왼쪽으로 들여쓰기 */
        }
        .reply-container {
            display: none;
            margin-top: 10px;
        }
        .replyButton{
            display: flex;
            justify-content: end
        }
    </style>
</head>
<body>
    <div class="container" style="max-width: 600px">
            <h2 class="d-flex justify-content-center">글 정보</h2>
            <div class="d-flex p-3">
                <div class="me-auto" th:text="${userText.username}">우까우까꾸 </div>
                <div class="d-flex justify-content-end">

                    <div th:text="|조회: ${userText.texts[0].viewCount}|">조회:</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">제목</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" th:field="${userText.texts[0].title}" disabled>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">내용</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" style="resize: none;height: 300px" th:field="${userText.texts[0].text}" disabled></textarea>
            </div>

            <div style="display: flex;justify-content: center" class="mb-3">
                <button style="background-color:white;border:none;font-size: 35px" onclick="recommend()">👍</button>
                <div  style="font-size: 35px"  class="mx-3" id="likeCount" th:text="'추천: '+${userText.texts[0].likeCount}">추천:</div>
            </div>
            <div class="d-flex justify-content-center">
                <div th:if="${isMyThing}">
                <button class="btn btn-primary  me-3"
                        type="button"
                        th:onclick="|location.href='@{/home/{contentId}/edit(contentId=${userText.texts[0].contentId})}'|"
                >수정하기</button>
                </div>
                <div th:if="${!isMyThing}">
                    <button class="btn btn-primary  me-3"
                            type="button"
                            onclick="notMyThing()"
                    >수정하기</button>
                </div>
                <button class="btn btn-primary  ms-3"
                        type="button"
                        onclick="goBack()"
                >돌아가기</button>
            </div>
            <div class="my-3">
                <textarea class="form-control" style="resize: none;height: 100px" id="parentCommentText"></textarea>
                <button th:if="${loginId!='anonymousUser'}" class="btn btn-primary float-end my-3" onclick="addParentComment()" >댓글 등록</button>
                <button th:if="${loginId=='anonymousUser'}" class="btn btn-primary float-end my-3" onclick="afterLoginComment()" >댓글 등록</button>

            </div>

<!--            <table class="table table-hover text-center" style="table-layout: fixed;">-->
<!--                <colgroup>-->
<!--                    <col style="width: 20%">-->
<!--                    <col style="width: 60%">-->
<!--                    <col style="width: 20%">-->
<!--                </colgroup>-->
<!--                <tbody class="table-group-divider">-->
<!--                    <tr th:each="comment:${comments}">-->
<!--                        <td th:text="${comment.username}">dd</td>-->
<!--                        <td th:text="${comment.text}" style="word-break: break-all"><p>ㅋㅋzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</p></td>-->
<!--                        <td th:text="${comment.dateCreated}" style="font-size: 12px">2016.01.01 21:33:22<button>답글</button></td>-->
<!--                        <tr>-->
<!--                             <td>-->
<!--                                우하하-->
<!--                            </td>-->
<!--                        <td>-->
<!--                            우하하-->
<!--                        </td><td>-->
<!--                        우하하-->
<!--                    </td>-->
<!--                        </tr>-->
<!--                    </tr>-->
<!--                </tbody>-->
<!--            </table>-->
                <div class="mb-5 comment-containers">
                <th:block th:each="parentComment:${parentComments}">
                    <div class="comment-container">
                        <div th:text="${parentComment.username}">dd</div>
                        <div th:text="${parentComment.text}" style="word-break: break-all"><p>ㅋㅋzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</p></div>
                        <div th:text="${parentComment.dateCreated}" style="font-size: 12px">2016.01.01 21:33:22</div>
                        <button class="btn btn-secondary mb-3" style="width: 10%" onclick="toggleReply(this)">답글</button>
                        <div class="reply-container">
                            <textarea style="resize: none" id="commentText"></textarea>
                            <div class="replyButton">
                                <button type="button" class="btn btn-dark" style="width: 10%;" th:if="${loginId!='anonymousUser'}" th:onclick="'addComment(' + ${parentComment.parentId} + ',this)'">등록</button>
                                <button type="button" class="btn btn-dark" style="width: 10%;" th:if="${loginId=='anonymousUser'}" onclick="afterLoginComment()">등록</button>
                                <!--                                <button th:if="${loginId!='anonymousUser'}" class="btn btn-primary float-end my-3" onclick="addParentComment()" >댓글 등록</button>-->
<!--                                <button th:if="${loginId=='anonymousUser'}" class="btn btn-primary float-end my-3" onclick="afterLoginComment()" >댓글 등록</button>-->
                            </div>
                       </div>
                        <div class="reply" th:each="comment:${parentComment.commentList}">
                            <div th:text="${comment.username}">dd</div>
                            <div th:text="${comment.text}" style="word-break: break-all"><p>ㅋㅋzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</p></div>
                            <div th:text="${comment.dateCreated}" style="font-size: 12px">2016.01.01 21:33:22</div>
                        </div>
                    </div>
                </th:block>
                </div>
    </div>
</body>
<script type="application/javascript" th:inline="javascript">
    let likeCount = [[${userText.texts[0].likeCount}]];
    let contentId = [[${userText.texts[0].contentId}]];
    let loginId = [[${loginId}]];

    function toggleReply(button) {
        let nextElementSibling = button.nextElementSibling;

            if (nextElementSibling.style.display === "none" || nextElementSibling.style.display === "") {
                nextElementSibling.style.display = "flex";
                nextElementSibling.style.flexDirection = "column";

            } else {
                nextElementSibling.style.display = "none";
            }
    }

    function notMyThing() {
        alert("작성자만 수정 가능합니다.")
    }

    function goBack() {
        window.history.back();
    }

    function afterLoginComment() {
        alert("로그인 후 댓글 작성 가능합니다.")
    }

    // 추천 버튼 클릭시 실행되는 JavaScript 함수
    function recommend() {
        // 추천 수 1 증가
        likeCount++;
        // AJAX 통신
        fetch('/home/updateLikeCount', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                count: likeCount,
                id: contentId
            }),
        })
            .then(response => response.json())
            .then(data => {
                // 서버에서 받아온 데이터로 화면 업데이트
                document.getElementById('likeCount').innerText = `추천: ${data.likeCount}`;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    function addComment(parentCommentId,button) {
        const commentText=button.parentNode.previousElementSibling.value;
        const commenTextarea = button.parentNode.previousElementSibling;
        const commentContainer = button.parentElement.parentElement.parentElement;
        const commentContainers = document.getElementsByClassName('comment-containers')[0];
        // AJAX 통신
        fetch('/home/addComment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                contentId: contentId,
                parentCommentId:parentCommentId,
                text:commentText
            }),
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);

                let replyContainer = document.createElement('div');

                let username = document.createElement('div');
                username.textContent = data.username;

                replyContainer.appendChild(username);

                let text = document.createElement('div');
                text.style.wordBreak = 'break-all';

                let p = document.createElement('p');
                p.textContent = data.text;
                text.appendChild(p);

                replyContainer.appendChild(text);

                let dateCreated = document.createElement('div');
                dateCreated.style.fontSize = '12px';
                dateCreated.textContent = data.dateCreated;

                replyContainer.appendChild(dateCreated);
                replyContainer.className = "reply";
                commentContainer.appendChild(replyContainer);

                commenTextarea.value = "";


            })
    }
    function addParentComment() {

        const parentCommentText= document.getElementById('parentCommentText').value;
        const commentContainers = document.getElementsByClassName('comment-containers')[0];
        // AJAX 통신
        fetch('/home/addParentComment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                contentId: contentId,
                text:parentCommentText
            }),
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);

                    let commentContainer = document.createElement('div');

                    let username = document.createElement('div');
                    username.textContent = data.username;

                    commentContainer.appendChild(username);

                    let text = document.createElement('div');
                    text.style.wordBreak = 'break-all';

                    let p = document.createElement('p');
                    p.textContent = data.text;
                    text.appendChild(p);

                    commentContainer.appendChild(text);

                    let dateCreated = document.createElement('div');
                    dateCreated.style.fontSize = '12px';
                    dateCreated.textContent = data.dateCreated;

                    commentContainer.appendChild(dateCreated);

                    let button = document.createElement('button');
                    button.className = "btn btn-secondary mb-3";
                    button.style.width = "10%";
                    button.onclick = function() {
                        toggleReply(this);
                    };
                    button.textContent = "답글";

                    commentContainer.appendChild(button);

                    let replyContainer = document.createElement('div');
                    replyContainer.className = "reply-container";

                    let replyParentText = document.createElement('textarea');
                    replyParentText.style.resize="none";

                    let replyParentTextButton = document.createElement('button');
                    replyParentTextButton.className="btn btn-dark";
                    replyParentTextButton.style.width = "10%";
                    replyParentTextButton.textContent = "등록";
                if (loginId != 'anonymousUser') {
                    // 로그인한 상태

                    replyParentTextButton.onclick=function() {
                        // addComment 함수 호출
                        addComment(data.parentId, this); // 예시로 parentComment.parentId를 123으로 전달
                    };
                } else {
                    // 로그인하지 않은 상태
                    replyParentTextButton.onclick=function() {
                        // afterLoginComment 함수 호출
                        afterLoginComment();
                    };
                }

                    let replyParentTextButtonContainer = document.createElement('div');
                    replyParentTextButtonContainer.className="replyButton";
                    replyParentTextButtonContainer.appendChild(replyParentTextButton);

                    replyContainer.append(replyParentText,replyParentTextButtonContainer);
                    commentContainer.appendChild(replyContainer);

                    commentContainers.appendChild(commentContainer);
                    document.getElementById('parentCommentText').value="";
                // document.getElementById('likeCount').innerText = `추천: ${data.likeCount}`;
            })
    }
</script>
</html>