<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <style>
        .field-Error{
            color: red;
            border-color: red;
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center flex-column" style="height: 100vh">
    <h2 class="mb-5">
        로그인
    </h2>
    <form th:action="@{/login}" method="post" style="width: 40%" class="form-control" th:object="${user}">
        <div>
            <input type="text" class="form-control mb-1 p-3" th:field="*{loginId}" th:errorclass="field-Error" placeholder="아이디를 입력해주세요."/>
            <input type="password" class="form-control mb-1 p-3" th:field="*{password}" th:errorclass="field-Error" placeholder="비밀번호를 입력해주세요"/>
            <div class="field-Error py-3" th:if="${error}" th:text="${message}"></div>
        </div>
        <div class="d-flex flex-column">
            <button type="submit" class="btn btn-primary form-control  mb-1">로그인</button>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button"  th:onclick="|location.href='@{/login/register}'|" style="text-decoration: none;" class="btn btn-secondary form-control" >회원가입</button>
        </div>
    </form>
</body>
</html>