<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis_db.board.mapper.BoardTextMapper">
    <select id="selectWithPaging" resultType="BoardHomeTexts">
        select c.content_id as contentId,
               c.title as title,
               c.text as text,
               c.date_created as dateCreated,
               c.view_count as viewCount,
               c.like_count as likeCount,
               c.unlike_count as unlikeCount,
               u.login_id as loginId,
               u.username as username,
               u.user_id as userId
        from content c,user u
        where c.user_id=u.user_id order by c.content_id desc limit #{size} offset #{page};
    </select>

    <select id="findAllUserText" resultType="BoardHomeTexts">
        select c.content_id as contentId,
               c.title as title,
               c.text as text,
               c.date_created as dateCreated,
               c.view_count as viewCount,
               c.like_count as likeCount,
               c.unlike_count as unlikeCount,
               u.login_id as loginId,
               u.username as username,
               u.user_id as userId
        from content c,user u
        where c.user_id=u.user_id order by c.content_id desc;
    </select>

    <select id="findUserText" resultType="BoardHomeTexts">
        select c.content_id as contentId,
               c.title as title,
               c.text as text,
               c.date_created as dateCreated,
               c.view_count as viewCount,
               c.like_count as likeCount,
               c.unlike_count as unlikeCount,
               u.login_id as loginId,
               u.username as username,
               u.user_id as userId
        from content c,user u
        where c.user_id=u.user_id and c.content_id=#{id} order by c.content_id desc;
    </select>
    <select id="findAllUserTextByTitle" resultType="BoardHomeTexts">
        select c.content_id as contentId,
               c.title as title,
               c.text as text,
               c.date_created as dateCreated,
               c.view_count as viewCount,
               c.like_count as likeCount,
               c.unlike_count as unlikeCount,
               u.login_id as loginId,
               u.username as username,
               u.user_id as userId
        from content c,user u
        where c.user_id=u.user_id and c.title like concat('%',#{title},'%') order by c.content_id desc;
    </select>
    <select id="findAllUserTextByUsername" resultType="BoardHomeTexts">
        select c.content_id as contentId,
               c.title as title,
               c.text as text,
               c.date_created as dateCreated,
               c.view_count as viewCount,
               c.like_count as likeCount,
               c.unlike_count as unlikeCount,
               u.login_id as loginId,
               u.username as username,
               u.user_id as userId
        from content c,user u
        where c.user_id=u.user_id and u.username like concat('%',#{username},'%') order by c.content_id desc;
    </select>
    <select id="findAllUserTextByUsernameAndTitle" resultType="BoardHomeTexts">
        select c.content_id as contentId,
               c.title as title,
               c.text as text,
               c.date_created as dateCreated,
               c.view_count as viewCount,
               c.like_count as likeCount,
               c.unlike_count as unlikeCount,
               u.login_id as loginId,
               u.username as username,
               u.user_id as userId
        from content c,user u
        where c.user_id=u.user_id and (u.username like concat('%',#{usernameAndTitle},'%') or c.title like concat('%',#{usernameAndTitle},'%')) order by c.content_id desc;
    </select>
    <!--    <resultMap id="userText" type="User">-->
    <!--        <id property="userId" column="userId" />-->
    <!--        <result property="loginId" column="loginId"/>-->
    <!--        <result property="username" column="username"/>-->
    <!--        <collection property="texts" ofType="Text">-->
    <!--            <id property="contentId" column="contentId"/>-->
    <!--            <result property="title" column="title"/>-->
    <!--            <result property="text" column="text"/>-->
    <!--            <result property="dateCreated" column="dateCreated"/>-->
    <!--            <result property="viewCount" column="viewCount"/>-->
    <!--            <result property="likeCount" column="likeCount"/>-->
    <!--            <result property="unlikeCount" column="unlikeCount"/>-->
    <!--        </collection>-->
    <!--    </resultMap>-->
    <!--    <resultMap id="userText" type="User">-->
    <!--        <id property="userId" column="userId" />-->
    <!--        <result property="loginId" column="loginId"/>-->
    <!--        <result property="username" column="username"/>-->
    <!--        <collection property="texts" ofType="Text">-->
    <!--            <id property="contentId" column="contentId"/>-->
    <!--            <result property="title" column="title"/>-->
    <!--            <result property="text" column="text"/>-->
    <!--            <result property="dateCreated" column="dateCreated"/>-->
    <!--            <result property="viewCount" column="viewCount"/>-->
    <!--            <result property="likeCount" column="likeCount"/>-->
    <!--            <result property="unlikeCount" column="unlikeCount"/>-->
    <!--        </collection>-->
    <!--    </resultMap>-->

</mapper>



